.git
.engram
**/.env
**/.env.*
**/node_modules
vendor
mobile
desktop
**/.expo
*.pem
*.keystore
auth.json
database/*.sqlite*
storage/**
bootstrap/cache/*.php
public/build
public/hot
public/storage
tests
*.log
